# 常规设置
[common]
enable_network_accelerator = true  # 是否启用针对中国大陆的加速链接(仅在 user.server 不为 china 时有效)
app_version = "4.53.0"  # 指定 url 参数中提交的 app 版本号, 一般保持默认即可

# 用户设置
# 请在下方填写您的账号凭据
[user]
username = ""  # 用户名, 通常是邮箱
password = ""
uid = 0  # 初次使用保持现状即可, 无需设置
remember_token = ""  # 初次使用保持现状即可, 无需设置
server = "auto"  # 用户所属的服务器 可选参数 auto -> 自动判断  china -> 中国大陆  global -> 全球

# 通过模拟观看广告免费删除植树记录
[remove_plants_by_rewarded_ad]
enable = false # 开关

# 通过模拟观看广告获取双倍金币
[boost_plant_by_rewarded_ad]
enable = false

# 自动植树(刷金币)
[auto_plant]
enable = false
mode = 1  # 自动植树模式 可选 1-3 (1.按时间段 2.挂机模式 3.挂机刷榜)
number = 1000  # 自动种植总数 仅在'非 mode1'时有效
short_sleep_time = false  # 是否缩短植树请求间隔时间 仅在'启用 mode1'时有效
customize_plant_time = -1  # 自定义的每棵树植树时长 单位为分钟, 仅在'非 mode3'时有效, -1 表示随机

# 手动植树
[manually_plant]
enable = true

# 创建房间(一起种)
[create_room]
enable = false

# 完成任务后自动登出
[auto_logout]
enable = false